@import "functions";

*{
    text-align: center;
}
body{
    background: rgb(255, 255, 255);
}

html{
    background: rgb(255, 255, 255);
}

p #odpowiedz{
    margin-left: 20px;
    height: 400px;
    width: 800px;
}