<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<h1>Post for {{ form["platform"] }} in day: {{ date }} </h1>
<hr/>
<ul id="dane">
<li class="dane" style="text-align: left;">Topic: {{ form["topic"] }}</li>
<li class="dane" style="text-align: left;">Goal: {{ form["goal"] }}</li>
<li class="dane" style="text-align: left;">Contex: {{ form["details"] }}</li>
<li class="dane" style="text-align: left;">Optional info: {{ form["more_information"] }}</li>
</ul>
<hr/>
<p id="pdf_odpowiedz">
{{ respond }}
</p>
<br>
<hr/>
<footer> &copy;; Created by Jakub Foetke & Ollama-Gemma3</footer>