<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!-- (Optional) - Place this js code after initializing bootstrap.min.js or bootstrap.bundle.min.js -->
    <script>
        var triggerEl = document.querySelector("#navId a");
        bootstrap.Tab.getInstance(triggerEl).show(); // Select tab by name
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM">
    </script>
</head>
<h1>Post for {{ form["platform"] }} in day: {{ date }} </h1>
<hr/>
<ul id="dane">
<li class="dane" style="text-align: left;">Topic: {{ form["topic"] }}</li>
<li class="dane" style="text-align: left;">Goal: {{ form["goal"] }}</li>
<li class="dane" style="text-align: left;">Contex: {{ form["details"] }}</li>
<li class="dane" style="text-align: left;">Optional info: {{ form["more_information"] }}</li>
</ul>
<hr/>
<p id="pdf_odpowiedz">
{{ respond }}
</p>
<br>
<hr/>
<footer> &copy;; Created by Jakub Foetke & Ollama-Gemma3</footer>