<!-- 
Logowanie = baza danych login sqlite
Po zalogowaniu się użytkownik bedzie mógł pobrać pdf z postami oraz wogole zapisywać dane do PDF  
Dodaj ID do dokumentów PDF jak i odpowiedzi wygenerowanych przez Chat id - niech będzie unikalne do użytkownika
Również stwórz navbara żeby przerzucał na stronę logowanie.html dane z html do logowanie.php
Opcjonalne Po akceptacji post zostaje eksportowany do json/csv i przesłany do (API/Make.com) linkedin/google sheets. 
Stwórz html -> Rejestracja oraz backend dla rejestacji -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- (Optional) - Place this js code after initializing bootstrap.min.js or bootstrap.bundle.min.js -->
    <script>
        var triggerEl = document.querySelector("#navId a");
        bootstrap.Tab.getInstance(triggerEl).show(); // Select tab by name
    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- (Optional) - Place this js code after initializing bootstrap.min.js or bootstrap.bundle.min.js -->
    <script>
        var triggerEl = document.querySelector("#navId a");
        bootstrap.Tab.getInstance(triggerEl).show(); // Select tab by name
    </script>
    
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>SM Posts Creator</title>
</head>
<body>
    <!-- Nav tabs -->
<nav class="navbar-dark bg-dark">
    <ul
        class="nav nav-tabs"
        id="navId"
        role="tablist"
    >
        <li class="nav-item">
            <a
                href="{{ url_for('index') }}"
                class="nav-link active"
                aria-current="page" style="color: black;"
                >Home</a
            >
        </li>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('custom') }}" class="nav-link"  aria-current="page" style="color: white;"
                >Custom</a
            >   
        </li>
        <li class="nav-item" role="presentation">
            <a href="#" class="nav-link disabled" data-bs-toggle="tab" 
                >Saved</a
            >
        </li>
        <li class="nav-item" role="presentation" left>
            <a href="{{ url_for('login_page') }}" class="nav-link" style="color: white;"
                >Login</a
            >
        </li>
</ul>
</nav>
    <!-- Tab panes -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab1Id" role="tabpanel">
            
        </div>
        <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
        <div class="tab-pane fade" id="tab3Id" role="tabpanel"></div>
        <div class="tab-pane fade" id="tab4Id" role="tabpanel"></div>
        <div class="tab-pane fade" id="tab5Id" role="tabpanel"></div>
    </div>
    <h1>Social Media Posts Creator</h1>
    Or Choose Custom Option
<form action="/custom" method="post">
    <input type="submit" value="Custom" class="btn btn-dark">
</form>
<br>

<div class="mb-3" style="text-align: center">
<form action="/send_bot" method="post">
    Topic: <input type="text" name="topic" id="topic" required><br><br>
    Goal: <input type="text" name="goal" id="goal"><br><br>
    Choose platform:
    <select name="platform" id="platformy">
        <option value="instagram">Instagram</option>
        <option value="facebook">Facebook</option>
        <option value="linkedin">Linkedin</option>
        <option value="X">X/Twitter</option>
        </select><br><br>
    Context:<input type="text" id="details" name="details" size="50px" required><br><br>
    More details: <br> <textarea id="more_information" name="more_information" rows="4" cols="50"></textarea><br><br>
    <input type="submit" value="Submit"  class="btn btn-primary"> 
</form>
{{ error }} {{ pdf_result }}
<br>
</div>
{% if respond %}
<div id="wygenerowany_elemnt">
    Answer:
    <p id="answer"> 
       <textarea class="form-control" name="prompt" id="prompt" readonly=True rows="8" cols="60"> {{ respond }} </textarea>
    </p>
</div>
{% endif %}
<br>
{% if respond %}
  <form method="POST" action="/download_pdf">
    <input type="submit" value="Download PDF" id="pobierz_pdf">
  </form><hr>
{% endif %}
{% if pdf_result %}
<a href="{{ url_for('static', filename='pdf/post_SocialMedias_({today_date}).pdf') }}" download>Pobierz PDF</a>
<form action="/save_pdf">
    <button
        type="submit"
        class="btn btn-primary"
    >
        Zapisz
    </button>
</form>
{% endif %}
</body>
</html>