<!-- 1.Formularz HTML z Tematem posta, Kontekstem, Określeniem stylu , grupa docelowa, cel posta, co ma zawierac (cos od siebie),  wybor platformy social media, ewentualnym dodaniem zdjęcia.
2.Backend: Flash/Python przyjmuje formularz łączy się z lokalnym ollamma-Gemma3, resultat zostaje wysłany do frontendu.
3.Strona zostaje przeładowana pod formularzem zostaje dodany contener z wynikiem, przycisk akceptacji oraz polem tekstowym by uwydatnic tekst.
4.Po akceptacji post zostaje eksportowany do json/csv i przesłany do (API/Make.com) linkedin/google sheets.
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>SM Posts Creator</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <h1>Social Media Posts Creator</h1>
<form action="/send_bot" method="post">
    Topic: <input type="text" name="topic" id="topic" required><br><br>
    Goal: <input type="text" name="goal" id="goal"><br><br>
    Choose platform:
    <select name="platform" id="platformy">
        <option value="instagram">Instagram</option>
        <option value="facebook">Facebook</option>
        <option value="linkedin">Linkedin</option>
        <option value="X">X/Twitter</option>
        </select><br><br>
    Context:<input type="text" id="details" name="details" size="50px" required><br><br>
    More details: <br> <textarea id="more_information" name="more_information" rows="4" cols="50"></textarea><br><br>
    <input type="submit" value="Submit"> 
    </form>
    OR <br>
    Choose Custom Opiton:
    <form action="/custom" method="post">
        <input type="submit" value="Custom">
    </form>
{{ error }} {{ pdf_result }}
<br>
{% if respond %}
  <form method="POST" action="/download_pdf">
    <input type="submit" value="Download PDF" id="pobierz_pdf">
  </form><hr>
{% endif %}
{% if pdf_result %}
<a href="{{ url_for('static', filename='pdf/post_SocialMedias_({today_date}).pdf') }}" download>Pobierz PDF</a>
{% endif %}
<br>
{% if respond %}
<hr/>
{% endif %}
<div id="wygenerowany_elemnt">
    Odpowiedź:
    <p id="odpowiedz">
       <textarea name="prompt" id="prompt" readonly=True rows="8" cols="60"> {{ respond }} </textarea>
    </p>
</div>
{% if respond %}
<hr/>
{% endif %}
</body>
</html>